# gradle
.gradle/
build/
out/
classes/

# eclipse
*.launch

# idea
.idea/
*.iml
*.ipr
*.iws

# vscode
.settings/
.vscode/
bin/
.classpath
.project

# macOS
*.DS_Store

# fabric
run/

# vs
.vs/

# generated
*.class


# .gitignore
src/main/resources/assets/cobbletunes/sounds/**/*.ogg

# local dependencies
libs/

# gradle build setup
gradle/
gradlew
gradlew.bat
build.gradle.kts
settings.gradle.kts
gradle.properties

# github actions
.github/workflows/